aside {
    display: grid;
    font-family: $font;
    background: rgb(253, 249, 242);
    padding: $padding;
    justify-content: center;
    h1 {
        display: $dblock;
        font-family: 'Sniglet-Bold';
        text-align: center;
        width: $big-width;
        height: fit-content;
        color: rgb(155, 103, 70);
        margin: 0;
        padding: 0;
        font-size: 35px;
        text-shadow: 2px 2px 1px #000;
    }
    form {
        @include form();
        height: fit-content;
        background-color: rgb(255, 243, 231);
        font-family:'Sniglet-Regular';
        font-size: smaller;
        box-sizing: border-box;
        border-radius: $radius;
        padding: 0 $padding 0 $padding;
        h1 {
            @include form();
            font-family: 'Sniglet-Bold';
            text-align: center;
            height: fit-content;
            color: rgb(155, 103, 70);
            margin: 0;
            font-size: 35px;
            text-shadow: 2px 2px 1px #000;
            padding: 15px 0;
        }
        .form-info {
            text-align: center;
            display: flex;
            width: 90%;
            margin: 0 auto $margin auto;
            padding: 5px 0;
            border-radius: 10px;
            font-size: 10px;
            font-style: italic;
            background-color: rgba(255,255,255,.5);
            box-sizing: content-box;
            color: rgb(155, 103, 70);
        }
        .field {
            padding-bottom: 15px;
            label {
                @extend %labels;
            }
            input[type="text"], input[type="email"] {
                @extend %data;
            }
            .choice {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                position: relative;
                width: $big-width;
                height: 25px;
                input[type="checkbox"] {
                    display: flex;
                    width: 3%;
                    height: 20px;
                }
                .check {
                    display: $dblock;
                    font-size: 10px;
                    width: 97%;
                    height: 20px;
                    text-align: justify;
                }
            }
            input[type="submit"] {
                display: $dblock;
                margin: 0 auto;
                background-color: rgba(255,255,255,.5);
                color: rgb(155, 103, 70);
                font-family: 'Sniglet-Bold';
                border: none;
                width: 40%;
                height: 40px;
                border-radius: $radius;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .contact {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: $radius;
        margin: 0;
        background-color: rgb(255, 243, 231);
        padding: 5px 7px;
        height: 105px;
        .cont {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $radius;
            background-color: rgba(255,255,255,.5);
            width: $big-width;
            box-sizing: border-box;
            height: 45px;
            .kitty {
                width: 10%;
                height: $big-height;
                display: $dblock;
                border-radius: $radius 0 0 $radius;
            }
            .cute {
                display: $dblock;
                width: 90%;
                text-align: center;
                margin: 0;
                .goto {
                    text-decoration: none;
                    color: rgb(155, 103, 70);
                    height: $big-height;
                    &:hover {
                        color: rgb(253, 249, 242);
                        text-shadow: 1px 1px 1px #000;
                    }
                }
            }
        }
    }
}