.ten {
  display: flex;
  height: 199.5px;
  align-items: center;
  justify-content: center;
}
.two {
  place-content: center;
  padding: 1.4% 0 0 0;
}
.text {
  text-align: justify;
}
.h {
  font-size: 20px;
  font-family: "Bahnschrift";
}
.bold { font-weight: bold; }
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
a {
  font-family: 'Bahnschrift';
}
.code { font-family: 'Consolas'; }
img {
  height: 160px;
  width: 160px;
}
.column, .columns { border-radius: 5px; }