table {
      border-collapse: collapse;
      empty-cells: hide;  
      border-spacing: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
}

td, tr { padding: 20px 20px; }

tr.c1:nth-child(odd) td.c2:nth-child(even) { background: black; }

tr.c1:nth-child(even) td.c2:nth-child(odd) { background: black; }	

th.c3, td.c3 {
      background-color: rgb(209, 183, 110);
      padding: 1px 1px 1px 1px;
      text-align: center;
      border: 2px solid rgb(22, 21, 29);
}