.path {
    fill: green;
    text-align: center;
    font-size: 36px;
}
.tree {
    background: url(tree.svg);
    background-repeat: no-repeat;
}
circle[fill="red"] {
    animation: changeRed 1s infinite;
}
@keyframes changeRed {
    0% { fill: red; }
    25% { fill: yellow; }
    50% { fill: green; }
    75% { fill: blue; }
    100% { fill: red; }
}
circle[fill="yellow"] {
    animation: changeYellow 1s infinite;
}
@keyframes changeYellow {
    0% { fill: yellow; }
    25% { fill: green; }
    50% { fill: blue; }
    75% { fill: red; }
    100% { fill: yellow; }
}
circle[fill="green"] {
    animation: changeGreen 1s infinite;
}
@keyframes changeGreen {
    0% { fill: green; }
    25% { fill: blue; }
    50% { fill: red; }
    75% { fill: yellow; }
    100% { fill: green; }
}
circle[fill="blue"][r="10"] {
    animation: changeBlue 1s infinite;
}
@keyframes changeBlue {
    0% { fill: blue; }
    25% { fill: red; }
    50% { fill: yellow; }
    75% { fill: green; }
    100% { fill: blue; }
}
.heart1 {
    stroke: magenta;
    stroke-width: 3px;
}
.heart2 {
    stroke: red;
    stroke-width: 3px;
}
.heart3 {
    stroke: yellow;
    stroke-width: 3px;
}
.heart4 {
    stroke: rgb(30, 221, 30);
    stroke-width: 3px;
}
.heart5 {
    stroke: blue;
    stroke-width: 3px;
}